.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin{style:"background-color:green;"}
	=grid xs:10,sm:8,md:6,lg:4 do
		.big-padding.blue.text-left.white-text
			%h1.no-margin.bold.light-blue-text.no-margin Quetzal
			%p.no-margin Conecta y colaboremos entre todos.
			.top-space
				=render "devise/registrations/new"
				